:root {
    --clr-primary-200: hsl(35, 77%, 62%);
    --clr-primary-400: hsl(5, 85%, 63%);

    --clr-neutral-200: hsl(36, 100%, 99%);
    --clr-neutral-400: hsl(233, 8%, 79%);
    --clr-neutral-600: hsl(236, 13%, 42%);
    --clr-neutral-800: hsl(240, 100%, 5%);

    --ff: "Inter";
    --fs: 1rem;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utility Class */

.flow-content > * + * {
    margin-top: 1rem;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 50em) {
    .split {
        flex-direction: row;
    }
}

.split > * + * {
    margin: 2rem 0 0 0;
}

@media (min-width: 50em) {
    .split > * + * {
        margin: 0 0 0 2rem;
    }
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > * + * {
    margin: 0 0 0 2rem;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

.spacer {
    padding: 2rem 0;
}

/* General Styling */

body {
    font-family: var(--ff);
    font-size: var(--fs);
}

.primary-nav a {
    text-decoration: none;
    color: var(--clr-neutral-400);
}

.primary-nav li {
    display: inline-block;
    margin-left: 1rem;
}

li a:hover {
    color: var(--clr-primary-200);
}

.button {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--clr-neutral-200);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: var(--clr-primary-400);
    padding: 0.6rem 1rem;
    display: inline-block;
    margin-top: 2.5rem;
}

.button:hover {
    background-color: var(--clr-neutral-800);
}
header {
    padding: 1rem 0;
}

section {
    padding: 1rem 0;
}

aside {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-200);
    padding: 2rem 1rem;
}

.border-line {
    border-bottom: 1px solid var(--clr-neutral-400);
}

/* Typo Styling */

h1 {
    font-size: 3rem;
}

.orange-text {
    color: var(--clr-primary-200);
}

.numbers {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-neutral-400);
}

.sub-title {
    color: var(--clr-neutral-600);
}

/* General Layout */

.container {
    width: 80%;
    margin: 0 auto;
}
